*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
#hdd{
  background-image: linear-gradient(50deg, orange, orangered);
}
#hd{
  height: 1377px;
  background-image: linear-gradient(orange, orangered);
  width: 100%;
}
#bg{
  background-color: #EDEDED;
  width: 100%
}
#iimg{
  background-image: url("./assets/manage.png");
  background-size: cover;
}
#iio{
  background-color: #00292F;
}
#qwe{
  background-image: url("./assets/jetoncash\ \(1\).png");
  background-size: cover;
}

@media screen and (min-width: 150px){ 
  #hd{
    height: 670px;
    width: 100%;
  }
}
@media (min-width: 150px) and (max-width: 376px){
  #circle{
    position: absolute;
    top: 175px !important;
  }
}
@media (min-width: 377px) and (max-width: 390px){
  #circle{
    position: absolute;
    top: 168px !important;
  }
  #but{
    width: 160px;
  }
}
@media (min-width: 359px) and (max-width: 360px){
  #circle{
    position: absolute;
    top: 185px !important;
  }
  #pho{
    margin-left: -10px !important;
  }
}
@media (min-width: 425px) and (max-width: 430px){
  #circle{
    position: absolute;
    top: 145px !important;
  }
  #pho{
    margin-left: 18px !important;
  }
  #but{
    margin-left: 16px;
    width: 158px;
  }
}
@media (min-width: 1920px){
  #circle{
    left: 5%;
  }
  #img_i{
    /* display: none */
    left: 20%;
  }
  #img_ii{
    /* display: none; */
  }
  #img_iii{
    /* display: none; */
  }
}
@media (min-width: 1440px) and (max-width: 1441px){
  #circle{
    top: 162px;
  }
  #pho{
    position: relative;
    left: 15px;
  }
  #ap{
    left: 18%;
  }
  #img_i{
    top: 320px;
    left: 100px !important;
  }
  #img_ii{
    left: 100px;
  }
  #img_iii{
    left: 90px;
    top: 250px;
  }
}
@media (min-width: 1280px) and (max-width: 1281px){
  #circle{
    top: 252px;
  }
  #img_i{
    /* display: none; */
    left: 10px;
    top: 400px;
  }
  #img_ii{
    left: 25px;
    top: 250px;
    /* display: none; */
  }
  #img_iii{
    left: 25px;
    top: 320px;
    /* display: none; */
  }
}
@media (min-width: 1024px) and (max-width: 1025px){
  #circle{
    top: 340px;
    right: 10px !important;
    transform: scale(1.2)
  }
  #navv{
    position: relative;
    left: 50px;
  }
  #img_i, #img_ii, #img_iii{
    /* display: none; */
  }
  #img_i{
    /* display: none */
    left: -60px;
  }
  #img_ii{
    /* display: none */
    left: -60px;
  }
  #img_iii{
    /* display: none; */
    left: -70px;
    top: 250px;
  }
}
@media (min-width: 820px) and (max-width: 822px){
  #hd{
    height: 1180px !important;
    background-color: gold;
  }
  #circle{
    top: 335px;
  }
  #img_i, #img_ii, #img_iii{
    /* display: none; */
  }
  #img_i{
    left: 60px;
    top: 280px;
    width: 130px;
  }
  #img_ii{
    /* display: none; */
    width: 180px;
    left: 150px;
    top: 180px;
  }
  #img_iii{
    /* display: none; */
    width: 180px;
    left: 240px;
    top: 250px;
  }
}
@media (min-width: 400px) and (max-width: 415px){ 
  #circle{
    position: absolute;
    top: 154px !important;
  }
  #but{
    margin-left: 10px;
    width: 158px;
  }
  #pho{
    margin-left: 12px;
  }
  #hd{
    height: 850px;
  }
  #img_sec{
    top: 180px;
  }
}
@media (min-width: 425px){ 
  #circle{
    position: absolute;
    /* top: 145px !important; */
  }
  #pho{
    margin-left: 17px;
  }
  #img_iii{
    margin-top: 15px;
  }
}
@media (min-width: 150px) and (max-width: 344px){
  #circle{
    top: 194px !important;
  }
  #img_i{
    /* display: none; */
    width: 55px;
    left: -20px !important;
  }
  #img_ii{
    /* display: none; */
    left: -10px !important;
    width: 70px;
    top: 160px;
  }
  #img_iii{
    top: 205px;
    /* display: none; */
  }
}
@media (min-width: 853px) and (max-width: 854px){
  #circle{
    top: 416px;
  }
  #hd{
    height: 1280px !important;
  }
  #img_i{
    left: 100px;
    width: 130px;
    top: 400px;
    /* display: none; */
  }
  #img_ii{
    left: 190px;
    width: 180px;
    top: 280px;
    /* display: none; */
  }
  #img_iii{
    /* display: none; */
    width: 180px;
    left: 280px;
    top: 360px;
  }
}
@media (min-width: 912px) and (max-width: 913px){
  #circle{
    top: 420px !important;
    transform: scale(1.2)
  }
  #img_i{
    /* display: none; */
    left: 75px;
    top: 370px;
  }
  #img_ii{
    /* display: none; */
    left: 200px;
    top: 220px;
  }
  #img_iii{
    /* display: none; */
    left: 330px;
  }
}
@media (min-width: 540px) and (max-width: 541px){
  #circle{
    top: 135px;
  }
  #hd{
    height: 720px;
  }
  #img_i{
    width: 80px;
    top: 140px;
    /* display: none */
  }
  #img_ii{
    /* display: none; */
    top: 100px;
    left: 55px;
  }
  #img_iii{
    /* display: none; */
    left: 75px !important;
    width: 100px;
    top: 120px;
  }
}
@media screen and (min-width: 370px){ 
  #circle{
    position: absolute;
    /* top: 167px !important; */
  }
}
@media (min-width: 768px) and (max-width: 819px){
  #circle{
    /* display: none; */
    top: 220px !important;
  }
  #hd{
    height: 1045px !important;
  }
  #img_i, #img_ii, #img_iii{
    left: 0;
  }
  #img_i{
    /* display: none; */
    top: 200px;
    left: 50px;
    width: 120px;
  }
  #img_ii{
    /* display: none; */
    width: 150px;
    left: 130px;
  }
  #img_iii{
    /* display: none; */
    width: 150px;
    left: 210px;
    top: 210px;
  }
}
@media screen and (min-width: 768px){
  #hd{
    height: 1377px;
    width: 100%;
  }
  #container{
    width: 1250px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px){
  #img_i{
    margin-left: 280px;
  }
  #img_ii{
    margin-left: 450px;
    z-index: 100;
  }
  #img_iii{
    margin-left: 650px;
    position: absolute;
  }
  #ap{
    top: 1315px;
    margin-left: 25%;
  }
}
@media screen and (min-width: 1024px){}
@media screen and (min-width: 1240px){}