*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
#container{
  width: 1250px;
  margin: 0 auto;
}
#hdd{
  background-image: linear-gradient(50deg, orange, orangered);
}
#hd{
  height: 1377px;
  background-image: linear-gradient(orange, orangered);
  width: 100%;
}
#bg{
  background-color: #EDEDED;
  width: 100%
}
#iimg{
  background-image: url("./assets/manage.png");
  background-size: cover;
}
#iio{
  background-color: #00292F;
}
#qwe{
  background-image: url("./assets/jetoncash\ \(1\).png");
  background-size: cover;
}


@media screen and (min-width: 150px){ 
  #hd{
    height: 670px;
    background-image: linear-gradient(orange, orangered);
    width: 100%;
  }
#circle{
  position: absolute;
  top: 175px;
}
}
@media screen and (min-width: 300px){

}
@media screen and (min-width: 468px){

}
@media screen and (min-width: 768px){
  #hd{
    height: 1377px;
    background-image: linear-gradient(orange, orangered);
    width: 100%;
  }
  #circle{
    position: absolute;
    top: 0 !important;
  }
}
@media screen and (min-width: 992px){
  #img_i{
    margin-left: 280px;
  }
  #img_ii{
    margin-left: 450px;
    z-index: 100;
  }
  #img_iii{
    margin-left: 650px;
    position: absolute;
  }
  #ap{
    top: 1315px;
    margin-left: 25%;
  }
}
@media screen and (min-width: 1024px){}
@media screen and (min-width: 1240px){}